<label for="docType">Document Type:</label>
<input data-ng-model="docType"/>
<div style="display:block; background-color:rgba(200,255,255,0.25)">
  <button data-ng-click="push(doc)">Push</button>
  <button data-ng-click="pop(doc)">Pop</button>
  <div data-ng-repeat="ff in doc">
    <input data-ng-model="ff.key"/>
    <input data-ng-model="ff.val"/>
  </div>
</div>
Load mine only? <input type="checkbox" data-ng-model="mine"/>
Overwrite on save? <input type="checkbox" data-ng-model="overwrite"/>
Private? <input type="checkbox" data-ng-model="privacy"/>
<button data-ng-click="savedoc({overwrite:overwrite, privacy:privacy})">Save to cloud</button>
<button data-ng-click="loaddoc()">Load from cloud</button>
{{doc}}
<hr style="height:5px;width:40%; background-color:orange;"/>
<div data-ng-repeat="ldoc in ldocs" data-ng-click="edit(ldoc)">
  {{ldoc}}
</div>
<hr style="height:5px;width:40%; background-color:orange;"/>
<input type="file" id="file-chooser" />
<button data-ng-click="savefile('file-chooser')">Upload to S3</button>
<button data-ng-click="loadfilelist()">load s3 filelist</button>
<textarea id="filearea"></textarea>
<button data-ng-click="savefile()">Upload textfile S3</button>
